html
    head
        title Task Manager / Comments
        include ../includes/css.pug
        
    body

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            pp(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
            include ../includes/loggedin.pug
        
        div#main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Comments
