html
    head
        title Task Manager / Home
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "Hello " + session.username + "!"
            include ../includes/loggedin.pug
        

        h1 Home
        p Welcome to the Task Manager!