if (session == undefined || session.loggedin == undefined || !session.loggedin)
    include includes/loggedout.pug
h1 Task Manager
h3 Users:
    ul
        for u in users
            li
                p=u.username