html
    head
        title Site / Glossary
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style='font-weight: bold')= "Hello " + session.username + "!"
            include ../includes/loggedin.pug
        
        div#main(style='width: 85%; float: left; transition: 0.5s')
            h1 Glossary

            ul  
                for g in glossaryentries
                    h4= g.name + " (" + g.acronym + ")"
                    i(style='font-size: 12px')= g.definition
        
        div#alpha(style='float: left; width: 5%; transition: 0.5s')
            -const alpha = Array.from(Array(26)).map((e, i) => i + 65);
            for a in alpha.map((x) => String.fromCharCode(x))
                p
                    a(style='text-decoration: underline')= a
