html
    head
        title Task Manager / Glossary
        include ../includes/css.pug
        
    body
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            include ../includes/loggedin.pug
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
        
        div#main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Glossary
                a(href='/createentry')
                    button.button + New Entry    
            br
 
            for g in glossaryentries
                a.glossarylink(href='glossaryentry/' + g._id style='text-decoration: none')
                    h4(id=g.name[0])= g.name + " (" + g.acronym + ")"
                    p(style='font-size: 12px')= g.definition
                
        script.
            let line = document.createElement('p');
            line.innerHTML = '________';
            document.getElementById('menu').appendChild(line);
            const alpha = Array.from(Array(26)).map((e, i) => i + 65);
            for (i = 0; i < 26; i++){
                let line = document.createElement('hr');
                let paragraph = document.createElement('p');
                let letter = document.createElement('a');
                letter.innerHTML = (i+10).toString(36).toUpperCase();
                letter.href = '#' + (i+10).toString(36).toUpperCase();
                letter.style.textDecoration = 'none';
                paragraph.style.fontWeight = 'bold';
                paragraph.append(letter);
                document.getElementById('menu').appendChild(paragraph);
            }

