html
    head
        title Site / Register
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        include ../includes/loggedout.pug
        
        h1 Register
        label(for='username')= 'Username:'
        input#username(type='text' name='username')
        label(for='password')= ' Password:'
        input#password(type='password' name='password')
        button#register(type='button') Register 
        script(src='../clients/register.js')