html
    head
        title Task Manager / Search
        include ../includes/css.pug
        
    body  
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
            include ../includes/loggedin.pug
        
        #main
            p Hello