html
    head
        title Task Manager / Users
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        
        //Header info changes depending on session logged in/out status
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "User: " + session.username
            include ../includes/loggedin.pug
        

        h1 Users
        for u in users
            div.usercard
                h4
                    a(href='/users/' + u._id)=u.username
            br
