style. 
    body { 
        background-color: hsl(0, 0%, 100%);
        font-family: Helvetica, Georgia, Times, 'Times New Roman', serif
    }
    div {
        margin:0;
        padding:0;
    }
    p, i, h1, h2, h3, h4, h5, small, label {
        margin-left: 7px;
        color : black
    }
    h1 {
        margin-top: 0px;
        margin-bottom: 0px
    }
    a, span {
        color: black
    }

    .small {
        font-size: 11px
    }
    .button {
        border-radius: 10px;
        background-color: hsl(0, 0%, 100%);
        border: 2px solid hsl(0, 0%, 90%);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        height: 25px
    }
    .taskcard {
        border: 2px solid hsl(0, 0%, 90%);
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 5px; 
        background-color: hsl(0, 0%, 100%);
        width: 90%; 
        height: 150px
    }
    .taskcard:hover {
        background-color: hsl(0, 0%, 90%);
        transition: 0.3s;
    }
    .taskcard p, span {
        color: hsla(210, 100%, 50%);
        font-size: 14px
    }
    .subtaskcard {
        border: 2px solid hsl(0, 0%, 90%);
        border-radius: 15px;
        padding: 5px;
        margin-bottom: 5px; 
        background-color: hsl(0, 0%, 100%);
        fa0box-shadow: 0px 0px 4px 4px #ebafa0; 
        width: 90%; 
        height: 75px
    }
    .status {
        width: 20%; 
        float: left;
    }
    .status h4 {
        text-align: center; 
        padding: 5px; 
        border-radius: 10px
    }
    .glossarylink h4:hover, #menu a:hover, #openmenu:hover {
        color: grey;
        transition: 0.3s;
    }
    .profile_initial {
        display: inline-block;
        border: 2px solid black; 
        background-color: hsla(210, 100%, 50%);
        border-radius: 100%;
        margin: 0; 
        padding: 6px;
        position: relative;
        left: 10%; 
        width: 7.5%; 
        text-align: center
    }
    .menu_icon {
        width: 40px;
        height: 40px
    }
    .menu_input {
        position: fixed; 
        margin-left: 7px; 
        border: 2px solid grey; 
        border-radius: 10px; 
        padding-left: 2px; 
        padding-right: 2px
    }
    .switch {
        margin-top: 14px;
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        border-radius: 50%;
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #cccccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider:before {
        background-color: hsla(210, 100%, 50%);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    #main {
        float: left;
        width: 90%;
        transition: 0.5s;
        width: 94%
    }
    #menu {
        width: 4%;
        margin-right: 2%;
        transition: 0.5s
    }
    #subtitle {
        background-color: hsla(210, 100%, 50%);
        border-radius: 15px
    }
