style. 
    body { 
        background-color: #1c1e2e; 
        font-family: Verdana, Georgia, Times, 'Times New Roman', serif
    }
    a, p, h1, h2, h3, h4, h5, small, label {
        color : white
    }
    .small {
        font-size: 11px
    }
    .taskcard, .usercard {
        background-color: #bfffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 30%;
        margin: 2.5%
    }
    .taskcard:hover, .usercard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .menu {
       float: left;
       width: 100%;
       padding-bottom: 10px
    }
    .menulinks {
        padding: 8px
    }
