style. 
    body { 
        background-color: #000000; 
        font-family: Verdana, Georgia, Times, 'Times New Roman', serif
    }
    a, p, h1, h2, h3, h4, h5, small, label {color : white}
    .small {font-size: 11px}
