style. 
    body { 
        background-color: hsl(0, 0%, 100%);
        font-family: Helvetica, Georgia, Times, 'Times New Roman', serif
    }
    div{
        margin:0;
        padding:0;
    }
    p, i, h1, h2, h3, h4, h5, small, label {
        margin-left: 7px;
        color : black
    }
    h1 {
        margin-top: 0px;
        margin-bottom: 0px
    }
    a, span {
        color: black
    }
    .small {
        font-size: 11px
    }

    .button {
        border-radius: 12px;
        background-color: hsl(0, 0%, 100%);
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        height: 22.5px
    }
    .taskcard{
        border: 2px solid hsl(0, 0%, 90%);
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 5px; 
        background-color: hsl(0, 0%, 100%);
        width: 90%; 
        height: 150px
    }
    .subtaskcard{
        border: 2px solid hsl(0, 0%, 90%);
        border-radius: 15px;
        padding: 5px;
        margin-bottom: 5px; 
        background-color: hsl(0, 0%, 100%);
        fa0box-shadow: 0px 0px 4px 4px #ebafa0; 
        width: 90%; 
        height: 75px
    }
    .status{
        width:20%; 
        float: left;
    }

    .glossarylink h4:hover, #menu a:hover, #openmenu:hover {
        color: grey;
        transition: 0.3s;
    }
    .taskcard:hover {
        background-color: hsl(0, 0%, 90%);
        transition: 0.3s;
    }

    #main {
        float: left;
        width: 90%;
        transition: 0.5s
    }
    #menu{
        transition: 0.5s
    }
    #subtitle{
        background-color: hsla(210, 100%, 50%);
        border-radius: 15px
    }

