div#logo(style='height: 10%; width: 100%; float: left; margin-bottom: 5px')
    img(src='/includes/DSP_logo.png' style='height: 50px; weight: 50px; margin-right: 36px')
    input#search.text_input(type='text' size=65 style='')
    select(id='searchtype' style='')
        option#tasks Tasks
        option#glossary Glossary
    a(href='/search')
        include ../includes/svg_files/search.svg
    input.text_input(type='text' size=73.5 style='margin-left: 140px')
    br

div#menu(style='float: left; overflow-x: hidden; transition: 0.5s; margin-right: 2%')
    br
    br
    a(href='/tasks/card')
        include ../includes/svg_files/task-management.svg
    br
    br
    a(href='/glossary')
        include ../includes/svg_files/editor.svg
    br
    br
    a(href='/feedback')
        include ../includes/svg_files/comment.svg
    br
    br
  
script.
    function openNav() {
        document.getElementById("menu").style.marginRight = '2%';
        document.getElementById("menu").style.width = '8%';
        document.getElementById("main").style.width = '90%';
    }
    function closeNav() {
        document.getElementById("menu").style.marginRight = '0%';
        document.getElementById("menu").style.width = '0%';
        document.getElementById("main").style.width = '100%';
    }

    function search() {
        let search = document.getElementById("search");
        let x = new XMLHttpRequest();
        x.open("GET", "/search");
        x.setRequestHeader("Content-Type", "application/json");
        x.send(JSON.stringify({search: search.value}));   
    }