div#logo(style='height: 5%')
    img(src='/includes/DSP_logo.png' style='height: 50px; weight: 50px')
    input.menu_input(type='text' size=73.5 style='left: 6%')
    include ../includes/svg_files/search.svg
    input.menu_input(type='text' size=73.5 style='left: 45%')

div#menu(style='float: left; overflow-x: hidden; transition: 0.5s; margin-right: 2%')
    br
    br
    a(href='/tasks/card')
        include ../includes/svg_files/task-management.svg
    br
    br
    a(href='/glossary')
        include ../includes/svg_files/editor.svg
    br
    br
    a(href='/feedback')
        include ../includes/svg_files/comment.svg
    br
    br
    a(href='/register')
        include ../includes/svg_files/circle.svg
    
script.
    function openNav() {
        document.getElementById("menu").style.marginRight = '2%';
        document.getElementById("menu").style.width = '8%';
        document.getElementById("main").style.width = '90%';
    }
    function closeNav() {
        document.getElementById("menu").style.marginRight = '0%';
        document.getElementById("menu").style.width = '0%';
        document.getElementById("main").style.width = '100%';
    }

script(src='../clients/login.js')